* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration-color: inherit;
	min-width: 0;
}

:root {
	--sublimate-dark: #7e61f5;
	--sublimate-light: #a47ef8;

	--accent-color: var(--sublimate-dark);
	--accent-color-light: var(--sublimate-light);

	--space-outer: 2em;
	--space-inner: 0.8em;

	--base-fonts: Gilroy, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--monospace-fonts: 'Fira Code', 'JetBrains Mono', 'Roboto Mono', Menlo,
		Inconsolata, monospace;

	--overlay-backdrop-filter: blur(20px) contrast(1.1);

	min-height: 100vh;

	font-size: 16px;
	font-size: clamp(15px, 1.05vw, 19px);
	font-family: var(--base-fonts);
	line-height: 1.5;

	-webkit-font-feature-settings: 'liga' on, 'calt' on;
	font-feature-settings: 'liga' on, 'calt' on;
	font-variant: tabular-nums;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	--text-color: #002466;
	color: var(--text-color);
	--text-decoration-color: 51, 51, 51;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);

	--card-background-color: rgb(255, 255, 255, 0.85);
	--card-hover-background-color: rgb(255, 255, 255, 0.85);
	--card-border-radius: 1.25rem;
	--card-box-shadow: 0px 4px 12px var(--accent-color);

	--global-background-gradient-base-color: #ffffff;
	background: linear-gradient(
			155deg,
			var(--global-background-gradient-base-color),
			var(--accent-color) 250%
		)
		fixed;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--card-background-color: rgba(255, 255, 255, 0.1);
		--card-hover-background-color: rgba(255, 255, 255, 0.12);

		--global-background-gradient-base-color: #01002d;

		-webkit-font-smoothing: auto;

		--text-color: #f7fdff;
		--text-decoration-color: 247, 253, 255;
	}
} */

a {
	--text-decoration-opacity: 0.15;
	color: var(--text-color);
	/* text-shadow: 0 1px 1px; */
	transition: 0.2s;
	text-decoration-color: rgba(
		var(--text-decoration-color),
		var(--text-decoration-opacity)
	);
	font-weight: bold;
}
a:hover {
	/* color: var(--accent-color); */
	--text-decoration-opacity: 0.5;
	opacity: 0.9;
	/* text-shadow: 0 1px 3px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

pre,
code {
	font-family: var(--monospace-fonts);
	padding: var(--space-inner);
	white-space: pre-wrap;
}

button,
.button {
	-webkit-appearance: none;
	background-color: var(--accent-color);
	background: linear-gradient(
		175deg,
		var(--accent-color),
		var(--accent-color-light)
	);
	color: #fff;
	border: none;
	border-radius: 0.2em;
	cursor: pointer;
	outline: none;

	display: inline-flex;
	align-items: center;
	padding: 0.5em 1.25em;
	gap: var(--space-inner);

	font: inherit;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);

	--depth: 0.1em;
	--scale: 1;
	--glow: 0;
	box-shadow: 0px var(--depth) rgba(0, 0, 0, 0.25),
		0px var(--depth) var(--accent-color),
		0 var(--depth) var(--glow) var(--accent-color);
	transform: translateY(calc(-1 * var(--depth))) scale(var(--scale));

	transition: 0.2s;

	cursor: pointer;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	--scale: 1.015;
}
button:focus,
.button:focus {
	--glow: 5px;
}
button:active,
.button:active {
	--depth: 0;
}

:-placeholder {
	opacity: 0.5;
}

input,
select,
textarea {
	border: none;
	font: inherit;
}

input {
	border-radius: 0.5rem;
	padding: 0.3em 0.7em;
}
/* input.is-valid {
	border: 2px solid green;
} */

input[type='checkbox'] {
	width: 1.2em;
	height: 1.2em;
	transform: translateY(0.2em);
	/* display: inline-flex;
	align-items: center; */
}

select {
	border-radius: 0.5rem;
	padding: 0.25em 0.4em;
}

section {
	display: grid;
	gap: var(--space-inner);
	grid-template-columns: 100%;
}

:disabled,
[disabled],
.placeholder {
	opacity: 0.2;
	pointer-events: none;
	touch-action: none;
}

hr {
	background: none;
	border: none;
	border-bottom: currentColor 1px solid;
	opacity: 0.25;
}

main {
	display: grid;
	gap: var(--space-inner);
	margin: 0 auto;
	padding: 2rem;

	position: relative;
	width: 100%;
}

.card {
	display: grid;
	gap: var(--space-inner);
	align-content: start;
	padding: var(--space-outer);

	background-image: var(--card-background-image);
	background-color: var(--card-background-color);
	/* background-image: radial-gradient(circle, transparent -75%, var(--card-background-color)); */
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-box-shadow);

	transition: 0.4s;
}
.card:hover {
	/* background-image: none; */
	background-color: var(--card-hover-background-color);
}
/* .card:before {
	content: '';
	background-image: var(--card-background-image);
	grid: 1 / 1 / -1 / -1;
	opacity: 0.1;
} */

.card-annotation {
	opacity: 0.4;
	letter-spacing: 0.2ch;
	font-size: 0.8em;
	text-transform: uppercase;
}

.row,
.bar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-inner);
}
.bar > :first-child {
	flex: 1;
}
.bar > h2:first-child,
.bar > h3:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bar > :not(:first-child) {
	flex: 0 auto;
}

.stack {
	display: grid;
	grid: 'area';
	align-items: start;
}
.stack > * {
	grid-area: area;
	place-items: start;
}

.slot {
	display: inline-flex;
	align-items: center;
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
}
[style*='animation:']::-webkit-scrollbar {
	display: none;
}
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-button {
	height: 1.8rem;
}
::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	border-radius: 5px;
}
